# Producción
PUBLIC_API_URL=https://admin.micasajems.com/api
PUBLIC_ADMIN_URL=https://admin.micasajems.com
PUBLIC_VAPID_KEY=

# Desarrollo local
# PUBLIC_API_URL=http://localhost/micasajems/backend
# PUBLIC_VAPID_KEY=

PUBLIC_SENDPULSE_ACCOUNT_ID=